/* src/styles.css */

body {
  background-color: #05161A;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 80%;
  max-width: 800px;
  background-color: #072E33;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
}

.left-side {
  background-color: #0C7075;
}

.right-side {
  background-color: #0F969C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.input-field {
  margin: 10px 0;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #fff;
}

.login-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #ff784e;
}
